$sprites: (
	"active_eye": (
		normal: (
			x: 48,
			y: 84,
			width: 20,
			height: 17,
			image: "sprites.png",
			total_width: 124,
			total_height: 124,
		),
		retina: (
			x: 96,
			y: 168,
			width: 40,
			height: 34,
			image: "sprites@2x.png",
			total_width: 248,
			total_height: 248,
		),
	),
	"arrow_down": (
		normal: (
			x: 92,
			y: 84,
			width: 12,
			height: 9,
			image: "sprites.png",
			total_width: 124,
			total_height: 124,
		),
		retina: (
			x: 184,
			y: 168,
			width: 24,
			height: 18,
			image: "sprites@2x.png",
			total_width: 248,
			total_height: 248,
		),
	),
	"arrow_r_blue": (
		normal: (
			x: 24,
			y: 84,
			width: 22,
			height: 22,
			image: "sprites.png",
			total_width: 124,
			total_height: 124,
		),
		retina: (
			x: 48,
			y: 168,
			width: 44,
			height: 44,
			image: "sprites@2x.png",
			total_width: 248,
			total_height: 248,
		),
	),
	"arrow_r_opacity": (
		normal: (
			x: 0,
			y: 84,
			width: 22,
			height: 22,
			image: "sprites.png",
			total_width: 124,
			total_height: 124,
		),
		retina: (
			x: 0,
			y: 168,
			width: 44,
			height: 44,
			image: "sprites@2x.png",
			total_width: 248,
			total_height: 248,
		),
	),
	"btc": (
		normal: (
			x: 84,
			y: 0,
			width: 40,
			height: 40,
			image: "sprites.png",
			total_width: 124,
			total_height: 124,
		),
		retina: (
			x: 168,
			y: 0,
			width: 80,
			height: 80,
			image: "sprites@2x.png",
			total_width: 248,
			total_height: 248,
		),
	),
	"dash": (
		normal: (
			x: 84,
			y: 42,
			width: 40,
			height: 40,
			image: "sprites.png",
			total_width: 124,
			total_height: 124,
		),
		retina: (
			x: 168,
			y: 84,
			width: 80,
			height: 80,
			image: "sprites@2x.png",
			total_width: 248,
			total_height: 248,
		),
	),
	"etc-alt": (
		normal: (
			x: 0,
			y: 0,
			width: 40,
			height: 40,
			image: "sprites.png",
			total_width: 124,
			total_height: 124,
		),
		retina: (
			x: 0,
			y: 0,
			width: 80,
			height: 80,
			image: "sprites@2x.png",
			total_width: 248,
			total_height: 248,
		),
	),
	"eth": (
		normal: (
			x: 42,
			y: 42,
			width: 40,
			height: 40,
			image: "sprites.png",
			total_width: 124,
			total_height: 124,
		),
		retina: (
			x: 84,
			y: 84,
			width: 80,
			height: 80,
			image: "sprites@2x.png",
			total_width: 248,
			total_height: 248,
		),
	),
	"ic-person-24-px": (
		normal: (
			x: 0,
			y: 108,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 124,
			total_height: 124,
		),
		retina: (
			x: 0,
			y: 216,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 248,
			total_height: 248,
		),
	),
	"icon-eye": (
		normal: (
			x: 70,
			y: 84,
			width: 20,
			height: 13,
			image: "sprites.png",
			total_width: 124,
			total_height: 124,
		),
		retina: (
			x: 140,
			y: 168,
			width: 40,
			height: 26,
			image: "sprites@2x.png",
			total_width: 248,
			total_height: 248,
		),
	),
	"ltc": (
		normal: (
			x: 0,
			y: 42,
			width: 40,
			height: 40,
			image: "sprites.png",
			total_width: 124,
			total_height: 124,
		),
		retina: (
			x: 0,
			y: 84,
			width: 80,
			height: 80,
			image: "sprites@2x.png",
			total_width: 248,
			total_height: 248,
		),
	),
	"xrp": (
		normal: (
			x: 42,
			y: 0,
			width: 40,
			height: 40,
			image: "sprites.png",
			total_width: 124,
			total_height: 124,
		),
		retina: (
			x: 84,
			y: 0,
			width: 80,
			height: 80,
			image: "sprites@2x.png",
			total_width: 248,
			total_height: 248,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
